@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{margin: 0;
padding: 0;}
.clearfix {
    clear: both;
}
body{ 
    color: white;
    background-color: gray;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url(/Imagenes/fondo.png);
    background-size: contain;
}
header { 
    height: 80px;
    width: 100%;
    background-color: gray;
    color: white;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
}
#logo{
    height: 80px;
    width: 6%;
    float: left;
    background-color: #D90115;
    color: white;
}

img {
    height: 80PX;
    width: 100px;
}
a:hover{
    color: #002973;
}
a{
    text-decoration: none;
    color: white;
}

nav{
    float: right;
    height: 100px;
    width: 95%;
    position: relative;
    text-align: center;
}
nav a{
    color: white;
    text-transform: capitalize;
    margin-left: 20px;
}
nav a:hover{
    color: #002973;
}
nav li {
    display: table-cell;
    list-style: none;
    text-align: end;
}
#inicio {
    height: 20px;
    width: 35%;
    color: white;
    background-color:#D90115;
    list-style-type: none;
    padding: 1% 1% 1% 1%;  
    justify-content: center;
    margin-left: 65%;
    border-style: solid gray;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(17 / 50%);
}
nav a{
    color: white;
    text-transform: capitalize;
    margin-left: 12px;
}

nav a:hover{
    color: #002973;
}
nav li {
    font-size: 15px;
    display: table-cell;
    list-style: none;
    text-align: end;
}
#inicio {
    height: 20px;
    width: 35%;
    color: white;
    background-color:#D90115;
    list-style-type: none;
    padding: 1% 1% 1% 1%;  
    justify-content: center;
    margin-left: 65%;
    border-style: solid gray;
}

.masvistos{
    display: grid;
    grid-column: 2/6;
    grid-row: 5/7;
    height: 175px;
    width: 400px;
    border-width: 5px;
    background-color: #D90115;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 250px;
}
.flexul{
    display: grid;
    grid-column: 1/2;
    grid-row: 8/10;
    padding: 1px;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #D90115;
    justify-content: space-around;
    align-items: left;
    margin-left: 120px;
    flex-flow: column;
    margin-top: 5%;
    flex-wrap: wrap;
}

.flexum{
    display: grid;
    grid-column: 2/3;
    grid-row: 9/11;
    padding: 3%;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #002973;
    justify-content: space-around;
    align-items: left;
    margin-left: 120px;
    flex-flow: column;
    margin-top: 5%;
}
.flexur{
    display: grid;
    grid-column: 3/4;
    grid-row: 10/13;        
    padding: 3%;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #D90115;
    justify-content: space-around;
    align-items: left;
    margin-left: 120px;
    flex-flow: column;
    margin-top: 5%;
}
.flexul li {
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 3%;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    justify-content: space-around;
    font-size: 20px;
}
.flexum li {
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 1%;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    justify-content: space-around;
}
.flexur li {
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 1%;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    justify-content: space-around;
}
#blue {
    background-color: #002973;
}
p {
    font-family: 'Roboto', sans-serif;
}
#comic1 {
    background-image: url(/Imagenes/Captura.PNG);
    image-rendering: auto;
    background-size: cover;
}
#comic1 {
    transition: all 2s;
}
#comic1:hover {
    background-color: red;
    transform: scale(1.2,1.3);
}
#comic2 {
    background-image: url(/Imagenes/Locke.jpg);
    image-rendering: auto;
    background-size: cover;
}
#comic2 {
    transition: all 2s;
}
#comic2:hover {
    background-color: red;
    transform: scale(1.2,1.3);
}
#comic3 {
    background-image: url(/Imagenes/Spidey.PNG);
    image-rendering: auto;
    background-size: cover;
}
#comic3 {
    transition: all 2s;
}
#comic3:hover {
    background-color: red;
    transform: scale(1.2,1.3);
}
#comic4 {
    background-image: url(/Imagenes/Tboys.PNG);
    image-rendering: auto;
    background-size: cover;
}
#comic4 {
    transition: all 2s;
}
#comic4:hover {
    background-color: red;
    transform: scale(1.2,1.3);
}

footer {
    height: 100px;
    width: 100%;
    margin-top: 5%;
    background-color: gray;
    color: white;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}
h3{
    text-align: left;
}

@media only screen and (max-width: 360px) {
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(17 / 50%);
    }
    nav a{
        color: white;
        text-transform: capitalize;
        margin-left: 8px;
    }

    nav a:hover{
        color: #002973;
    }
    nav li {
        font-size: 10px;
        display: table-cell;
        list-style: none;
        text-align: end;
    }
    #inicio {
        height: 20px;
        width: 100%;
        color: white;
        background-color:#D90115;
        list-style-type: none;
        padding: 1% 1% 1% 1%;  
        text-align: center;
        justify-content: center;
        border-style: solid white;
        margin-left: 1px;

    }
    .masvistos{
        display: grid;
        grid-column: 1/5;
        grid-row: 5/7;
        height: 75px;
        width: 200px;
        border-width: 5px;
        background-color: #D90115;
        text-align: center;
        margin-top: 40%;
        margin-left: 70px;
    }
    .flexul{
        display: grid;
        grid-column: 1/4;
        grid-row: 8/9;
        height: 600px;
        width: 300px;
        border: 2px solid gray;
        background-color: #D90115;
        justify-content: space-around;
        align-items: left;
        margin-left: 10px;
        flex-flow: column;
        margin-top: 5%;
        flex-wrap: wrap;
    }
    .flexum{
        display: grid;
        grid-column: 1/4;
        grid-row: 10/11;
        padding: 3%;
        height: 500px;
        width: 300px;
        border: 2px solid gray;
        background-color: #002973;
        justify-content: space-around;
        align-items: left;
        margin-left: 10px;
        flex-flow: column;
        margin-top: 5%;
    }
    .flexur{
        display: grid;
        grid-column: 1/4;
        grid-row: 12/13;        
        padding: 3%;
        height: 500px;
        width: 300px;
        border: 2px solid gray;
        background-color: #D90115;
        justify-content: space-around;
        align-items: left;
        margin-left: 10px;
        flex-flow: column;
        margin-top: 5%;
    }
    .flexul li {
        display: flex;
        background-color: gray;
        width: 100px;
        height: 100px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
        font-size: 16px;
    }
    .flexum li {
        display: flex;
        background-color: gray;
        width: 100px;
        height: 100px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
    .flexur li {
        display: flex;
        background-color: gray;
        width: 100px;
        height: 100px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 361px) and (max-width: 750px) {
    
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(10 / 50%);
    }
    nav a{
        color: white;
        text-transform: capitalize;
        margin-left: 8px;
    }

    nav a:hover{
        color: #002973;
    }
    nav li {
        font-size: 12px;
        display: table-cell;
        list-style: none;
        text-align: end;
    }
    #inicio {
        height: 20px;
        width: 100%;
        color: white;
        background-color:#D90115;
        list-style-type: none;
        padding: 1% 1% 1% 1%;  
        text-align: center;
        justify-content: center;
        border-style: solid white;
        margin-left: 1px;
    }
    .masvistos{
        display: grid;
        grid-column: 2/5;
        grid-row: 5/7;
        height: 75px;
        width: 200px;
        border-width: 5px;
        background-color: #D90115;
        text-align: center;
        margin-top: 40%;
        margin-left: 1px;
    }
    .flexul{
        display: grid;
        grid-column: 1/4;
        grid-row: 8/9;
        height: 650px;
        width: 300px;
        border: 2px solid gray;
        background-color: #D90115;
        justify-content: space-around;
        align-items: left;
        margin-left: 40px;
        flex-flow: column;
        margin-top: 5%;
        flex-wrap: wrap;
    }
    .flexum{
        display: grid;
        grid-column: 1/4;
        grid-row: 10/11;
        padding: 3%;
        height: 500px;
        width: 300px;
        border: 2px solid gray;
        background-color: #002973;
        justify-content: space-around;
        align-items: left;
        margin-left: 40px;
        flex-flow: column;
        margin-top: 5%;
    }
    .flexur{
        display: grid;
        grid-column: 1/4;
        grid-row: 12/13;        
        padding: 3%;
        height: 500px;
        width: 300px;
        border: 2px solid gray;
        background-color: #D90115;
        justify-content: space-around;
        align-items: left;
        margin-left: 40px;
        flex-flow: column;
        margin-top: 5%;
    }
    .flexul li {
        display: flex;
        background-color: gray;
        width: 100px;
        height: 100px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
    .flexum li {
        display: flex;
        background-color: gray;
        width: 100px;
        height: 100px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
    .flexur li {
        display: flex;
        background-color: gray;
        width: 100px;
        height: 100px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 751px) and (max-width: 1050px) {
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(17 / 50%);
    }
    nav a{
        color: white;
        text-transform: capitalize;
        margin-left: 12px;
    }

    nav a:hover{
        color: #002973;
    }
    nav li {
        font-size: 15px;
        display: table-cell;
        list-style: none;
        text-align: end;
    }
    #inicio {
        height: 20px;
        width: 100%;
        color: white;
        background-color:#D90115;
        list-style-type: none;
        padding: 1% 1% 1% 1%;  
        justify-content: center;
        border-style: solid white;
        margin-left: 40%;
    }
    .masvistos{
        display: grid;
        grid-column: 2/5;
        grid-row: 5/7;
        height: 75px;
        width: 200px;
        border-width: 5px;
        background-color: #D90115;
        text-align: center;
        margin-top: 30%;
        margin-left: 70px;
    }
    .flexul{
        display: grid;
        grid-column: 1/4;
        grid-row: 8/9;
        height: 600px;
        width: 470px;
        font-size: 17px;
        border: 2px solid gray;
        background-color: #D90115;
        justify-content: space-around;
        align-items: left;
        margin-left: 120px;
        flex-flow: column;
        margin-top: 5%;
        flex-wrap: wrap;
    }
    .flexum{
        display: grid;
        grid-column: 1/4;
        grid-row: 10/11;
        padding: 3%;
        height: 600px;
        width: 470px;
        font-size: 17px;
        border: 2px solid gray;
        background-color: #002973;
        justify-content: space-around;
        align-items: left;
        margin-left: 120px;
        flex-flow: column;
        margin-top: 5%;
    }
    .flexur{
        display: grid;
        grid-column: 1/4;
        grid-row: 12/13;        
        padding: 3%;
        height: 600px;
        width: 470px;
        font-size: 17px;
        border: 2px solid gray;
        background-color: #D90115;
        justify-content: space-around;
        align-items: left;
        margin-left: 120px;
        flex-flow: column;
        margin-top: 5%;
    }
    .flexul li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
        font-size: 25px;
    }
    .flexum li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
    .flexur li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
    h6{
        font-size: 15px;
    }
}
@media only screen and (min-width: 1051px) and (max-width: 1280px) {
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(17 / 50%);
    }
    nav a{
        color: white;
        text-transform: capitalize;
        margin-left: 12px;
    }

    nav a:hover{
        color: #002973;
    }
    nav li {
        font-size: 15px;
        display: table-cell;
        list-style: none;
        text-align: end;
    }
    #inicio {
        height: 20px;
        width: 100%;
        color: white;
        background-color:#D90115;
        list-style-type: none;
        padding: 1% 1% 1% 1%;  
        justify-content: center;
        border-style: solid white;
        margin-left: 40%;
    }
    .masvistos{
        display: grid;
        grid-column: 3/6;
        grid-row: 5/7;
        height: 75px;
        width: 200px;
        border-width: 5px;
        background-color: #D90115;
        text-align: center;
        margin-top: 30%;
        margin-left: 70px;
    }
    .flexul{
        display: grid;
        grid-column: 1/3;
        grid-row: 8/9;
        height: 600px;
        width: 470px;
        font-size: 17px;
        border: 2px solid gray;
        background-color: #D90115;
        justify-content: space-around;
        align-items: left;
        margin-left: 120px;
        flex-flow: column;
        margin-top: 5%;
        flex-wrap: wrap;
    }
    .flexum{
        display: grid;
        grid-column: 2/5;
        grid-row: 10/11;
        padding: 3%;
        height: 600px;
        width: 470px;
        font-size: 17px;
        border: 2px solid gray;
        background-color: #002973;
        justify-content: space-around;
        align-items: left;
        margin-left: 120px;
        flex-flow: column;
        margin-top: 5%;
    }
    .flexur{
        display: grid;
        grid-column: 3/6;
        grid-row: 12/13;        
        padding: 3%;
        height: 600px;
        width: 470px;
        font-size: 17px;
        border: 2px solid gray;
        background-color: #D90115;
        justify-content: space-around;
        align-items: left;
        margin-left: 120px;
        flex-flow: column;
        margin-top: 5%;
    }
    .flexul li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
        font-size: 25px;
    }
    .flexum li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
    .flexur li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
    h6{
        font-size: 15px;
    }
}



