@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{margin: 0;
padding: 0;}

.clearfix {
    clear: both;
}
body{ 
    color: white;
    background-color: gray;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url(/Imagenes/fondo.png);
    background-size: contain;
}
header { 
    height: 80px;
    width: 100%;
    background-color: gray;
    color: white;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
}
#logo{
    height: 80px;
    width: 5%;
    float: left;
    background-color: #D90115;
    color: white;
}
img {
    height: 80PX;
    width: 100px;
}
nav{
    float: right;
    height: 100px;
    width: 95%;
    position: relative;
    text-align: center;
}
nav a{
    color: white;
    text-transform: capitalize;
    margin-left: 20px;
}
nav a:hover{
    color: #002973;
}
nav li {
    display: table-cell;
    list-style: none;
    text-align: end;
}
#inicio {
    height: 20px;
    width: 50%;
    color: white;
    background-color:#D90115;
    list-style-type: none;
    padding: 1% 1% 1% 1%;  
    justify-content: center;
    border-style: solid white;
    margin-left: 60%;
}
fieldset { 
    background-color: gray;
    border-color: #D90115;
    height: 1200px;
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
}
h2{
    background-color: #D90115;
}
footer {
    height: 100px;
    width: 100%;
    margin-top: 5%;
    background-color: gray;
    color: white;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}
h3{
    text-align: left;
}
h5 {
    margin-top: 50px;
    height: 25px;
    width: 400px;
    background-color: #D90115;
    margin-left: 10px;
}
#Name {
    margin-top: 2%;
}
input {
    margin-top: 15px;
    margin-left: 10px;
}
select{
    margin-left: 10px;
}
textarea {
    margin-left: 10px;
}

@media only screen and (max-width: 360px) {
    fieldset {
        background-color: gray;
        border-color: #D90115;
        height: 1200px;
        width: 80%;
        margin-top: 40%;
        margin-left: 1px;
        text-align: center;
    }
    nav a{
        color: white;
        text-transform: capitalize;
        margin-left: 8px;
    }

    nav a:hover{
        color: #002973;
    }
    nav li {
        font-size: 10px;
        display: table-cell;
        list-style: none;
        text-align: end;
    }
    #inicio {
        height: 20px;
        width: 100%;
        color: white;
        background-color:#D90115;
        list-style-type: none;
        padding: 1% 1% 1% 1%;  
        justify-content: center;
        border-style: solid white;
        margin-left: 1px;
    }
}
    @media only screen and (min-width: 361px) and (max-width: 750px) {
        fieldset {
            background-color: gray;
            border-color: #D90115;
            height: 1200px;
            width: 80%;
            margin-top: 40%;
            margin-left: 10%;
            text-align: center;
        }
        nav a{
            color: white;
            text-transform: capitalize;
            margin-left: 12px;
        }
    
        nav a:hover{
            color: #002973;
        }
        nav li {
            font-size: 12px;
            display: table-cell;
            list-style: none;
            text-align: end;
        }
        #inicio {
            height: 20px;
            width: 100%;
            color: white;
            background-color:#D90115;
            list-style-type: none;
            padding: 1% 1% 1% 1%;  
            justify-content: center;
            border-style: solid white;
            margin-left: 1px;
        }
    }
    @media only screen and (min-width: 751px) and (max-width: 1050px) {
        fieldset {
            background-color: gray;
            border-color: #D90115;
            height: 1200px;
            width: 80%;
            margin-top: 25%;
            margin-left: 10%;
            text-align: left;
            font-size: 17px;

        }
        nav a{
            color: white;
            text-transform: capitalize;
            margin-left: 12px;
        }
    
        nav a:hover{
            color: #002973;
        }
        nav li {
            font-size: 15px;
            display: table-cell;
            list-style: none;
            text-align: end;
        }
        #inicio {
            height: 20px;
            width: 100%;
            color: white;
            background-color:#D90115;
            list-style-type: none;
            padding: 1% 1% 1% 1%;  
            justify-content: center;
            border-style: solid white;
            margin-left: 40%;
        }
        h5{
            text-align: center;
        }
    }